<!DOCTYPE html>
<html>
 {% include 'header' %}
 <body>
  {% include 'menu' %}
  {% include 'nav' %}
  {% include 'landing' %}
  <div class="main">
   {% include 'spacer' %}
   <div class="content">
    {{ page.content }}
   </div>
   {% include 'spacer' %}
  </div>
  {% include 'scripts' %}
 </body>
</html>